$blue: #006CB0;
$green: #00C41F;
$yellow: #FBFB00;
$pink: #FF0060;
$black: #000000;

$tblue: rgba(0, 108, 176, 0.5);
$tgreen: rgba(0, 196, 31, 0.5);
$tyellow: rgba(251, 251, 0, 0.5);
$tpink: rgba(255, 0, 96, 0.5);

$styellow: rgba(251, 251, 0, 0.1);
$stpink: rgba(255, 0, 96, 0.3);

$tsgreen: rgba(0, 196, 31, 0.8);

