$blue: #006CB0;
$dkblue: #2B78AB;
$ltblue: #62A8d1;
$green: #00C41F;
$ltgreen: #05F028;
$yellow: #FBFB00;
$ltyellow: #FAFA46;
$pink: #FF0060;
$ltpink: #FA448A;
$black: #000000;

$ltgrey: #E6E6E6;

$tblue: rgba(0, 108, 176, 0.5);
$tgreen: rgba(0, 196, 31, 0.5);
$tyellow: rgba(251, 251, 0, 0.5);
$tpink: rgba(255, 0, 96, 0.5);

$styellow: rgba(251, 251, 0, 0.1);
$stpink: rgba(255, 0, 96, 0.3);

$tsgreen: rgba(0, 196, 31, 0.8);


