// HEADER ------------------------------------------

header {
	width: 100%;
	background: $black;
	overflow: hidden;
}

// QUOTE PREVIEWS ------------------------------------------

.quote-previews {
	overflow: hidden;
	margin: 0 auto;
}

.fun-quote {
	@include grid(10);
	font-style: italic;
	background: white;
	padding: 20px;

	h3, p {
		padding-left: 40px;
		padding-right: 40px;
	}

	h3 {
		padding-top: 40px;
	}

	p {
		padding-top: 20px;
		padding-bottom: 40px;
	}

}

.original-quote {
	@include grid(10);
	background: $blue;
	color: white;
	padding: 40px;

	h3, p {
		font-weight: 200;
	}

	h3 {
		padding-bottom: 20px;
	}

	h3:nth-of-type(2) {
		font-style: italic;
	}

	p {
		font-style: italic;
	}
}

.center {
	max-width: 300px;
	margin: 0 auto;
}

.center2 {
	max-width: 400px;
	margin: 0 auto;
}

// COLOR BOX ------------------------------------------

$box-height: 200px;
$box-width: 90%;

.color-box {
	min-height: 200px;
	width: $box-width;
	max-width: 350px;
	margin: 10px auto;
	position: relative;
    
  	.top {
	    width: 100%;
	    height: 30px;
	    background: $tyellow;
	    border-radius: 0 0 30px 30px;
	    position: absolute;
	    top: 0;
  	}
  
  	.right {
	    width: 30px;
	    height: 100%;
	    background: $tpink;
	    border-radius: 30px 0 0 30px;
	    position: absolute;
	    right: 0;
  	}
  
  	.bottom {
	    width: 100%;
	    height: 30px;
	    background: $tblue;
	    border-radius: 30px 30px 0 0;
	    position: absolute;
	    bottom: 0;
  	}
  
  	.left {
	    width: 30px;
	    height: 100%;
	    background: $tgreen;
	    border-radius: 0 30px 30px 0;
	    position: absolute;
	    left: 0;
  	}
  
} // end .color-box

// START SECTION -------------------------------------

.start {
	overflow: hidden;
	height: 555px;
	padding-top: 40px;
	padding-bottom: 40px;
	transition: background ease 1s;
	@include grid(10);
	label {
		display: block;
		padding-top: 10px;
	}
}

.wrapper {
	h4 {
		padding: 20px 10px 20px 0;
		display: inline-block;
	}

	label {
		display: inline-block;
	}
}

form input {
	width: 100%;
	border-radius: 5px;
	font-size: 16px;
	font-size: 1rem;
	margin: 0.875rem;
	padding: 0.5rem;

	&:focus {
		outline: 0;
		border: 0;
		@include shadow($yellow);
	}
}

.btn {
	color: white;
	text-align: center;
	border: 0;
	border-radius: 5px;
	padding: 9.6px;
	padding: 0.6rem;
	margin: 10px;
	margin: 0.625rem;
	text-shadow: 1px 1px 3px #666666;

	&:hover {
		background: $blue;
		@include gradient($blue, $ltblue);
		cursor: pointer;

	}
}

.create-button {
	background: $green;
	@include gradient ($ltgreen, $green);
	font-size: 18px;
	font-size: 1.125rem;
	display: block;
}

.login-button, .signup-button, .logout-button {
	background: $pink;
	@include gradient ($ltpink, $pink);
	font-size: 16px;
	font-size: 1rem;
}

.logout-button {
	font-size: 14px;
	font-size: 0.875rem;
}

.login-page{
	display: none;
}

// CREATE SECTION -------------------------------------

.create {
	@include grid(10);
	overflow: hidden;
	padding-top: 0;
	padding-bottom: 0;
}

.directions {
	background: $blue;
	color: white;
	padding: 40px;

	h3 {
		font-weight: 200;
	}
}

.newQuotePage {
	display:none;
	overflow: hidden;
	margin: 0 auto;
}

.word-input {
	padding: 40px;
	background: white;
	width: 10

	label {
		display: block;
	}

	input {
		color: $black;
		border-radius: 5px;
		width: 100%;
		height: 50px;
		font-size: 16px;
		font-size: 1rem;

		&:nth-of-type(1) {
		border: 2px solid $green;
		}
		
		&:nth-of-type(2) {
			border: 2px solid $pink;
		}

		&:nth-of-type(3) {
			border: 2px solid $blue;
		}
	}

	.btn:hover {
		@include gradient($ltpink, $pink);
	}
}

.white-background {
	background: white;
}

.startQuote {
	background: $blue;
}

// CREATE AGAIN/INSPIRE -----------------------------------------

.inspire-box {
	display: none;
	padding: 40px;
	clear: both;

	.inspire {
		padding-bottom: 20px;
		font-size: 18px;
		font-size: 1.125rem;
		color: $black;
		font-style: italic;

	}	

	.create-button {
		margin: 0 auto;
	}
}

// LOGOUT -----------------------------------------

.logout-box {
	background: $yellow;
	text-align: right;

	button {
		margin: 20px;
	}
}

// FOOTER ------------------------------------------

footer {
	width: 100%;
	background: $black;
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	clear: left;

	p {
		text-align: center;
	}

	a{
		color: white;
		text-decoration: none;
	}
	a:hover{
		text-decoration: underline;
	}
}


