body {
	font-family: signo, sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.6;
	font-weight: 400;
	font-style: normal;
	color: $black;
}

// RADLIBS title
h1 {
	font-family: azo-sans-uber, sans-serif;
	font-size: 72px;
	font-size: 4.5rem;
	line-height: 1.3;
	font-weight: 400;
	font-style: normal;
	color: white;
	padding: 100px 0;
	text-align: center;
}

h2 {
	font-size: 36px;
	font-size: 2.25rem;
	line-height: 1.4;
}

h3 {
	font-size: 20px;
	font-size: 1.5rem;
	line-height: 1.4;
}

h4 {
	font-size: 18px;
	font-size: 1.125rem;
	color: $black;
}

.noun, 
.adjective,
.verb,
.adverb {
	font-weight: bold;
	font-style: italic;
}

.noun {
	color: $blue;
}

.adjective {
	color: $green;
}

.verb {
	color: $pink;
}

.adverb {
	color: $yellow;
}

