<!DOCTYPE html>
<html>
<head>
	<title>RadLibs</title>
	<%= stylesheet_link_tag 'application', media: 'all' %>
	<%= csrf_meta_tags %>
	<script src="//use.typekit.net/tdv2arw.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>
</head>
<body>
	<header>
		<h1>RADLIBS</h1>
	</header>

	<div id='container'>

	</div>

	<footer>
		<p>Created by <a href="https://twitter.com/jlagrange87" target="_blank">Joshua Lagrange</a>, <a href="https://github.com/BenHand" target="_blank">Ben Hand</a>, and <a href="https://twitter.com/casczap" target="_blank">Casie Czapski</a></p>
	</footer>
	<%= javascript_include_tag 'application' %>
</body>
</html>
