<!DOCTYPE html>
<html>
<head>
	<title>RADLIBS</title>
	<%= stylesheet_link_tag 'application', media: 'all' %>
	<%= csrf_meta_tags %>
	<script src="//use.typekit.net/tdv2arw.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>
	<link rel="icon" type="image/png" href="http://i.imgur.com/mrpdz5W.png"/>
</head>
<body>
	<header>
		<div class="logo-header">
			<img src="http://i.imgur.com/mrpdz5W.png" style="max-width: 70px;"/>
			<h1>   RADLIBS</h1>
		</div>
	</header>

	<div id='container'>

	</div>

	<footer>
		<p>Created by <a href="https://twitter.com/jlagrange87" target="_blank">Joshua Lagrange</a>, <a href="https://github.com/BenHand" target="_blank">Ben Hand</a>, and <a href="https://twitter.com/casczap" target="_blank">Casie Czapski</a></p>
	</footer>
	<%= javascript_include_tag 'application' %>
</body>
</html>
