<!DOCTYPE html>
<html>
<head>
	<title>RadLibs</title>
	<%= stylesheet_link_tag 'application', media: 'all' %>
	<%= csrf_meta_tags %>
	<script src="//use.typekit.net/tdv2arw.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>
</head>
<body>
	<header>
		<h1>RADLIBS</h1>
	</header>

	<div id='container'>

	</div>

	<footer>
		<p>Built by Joshua, Ben and Casie</p>
	</footer>
	<%= javascript_include_tag 'application' %>
</body>
</html>
